/* remember that style sheets cascade, so whatever is on the bottom will override whats on top. Don't have multiple statements for the same 
element. Organization and hierarchy are key, start with larger elements and work your way down.

Do they best you can with this, talk with each other and help each other. Most colors and fonts are provided for you. Use adobe color to 
find the other colors from the sample image.*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f28c38;
  font-family: "Lato", sans-serif;
  color: #222;
}

.wrap {
  width: 80%;
  max-width: 950px;
  margin: 0 auto;
  background-color: #d9eef1;
 
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

nav {
  width: 80%;
  max-width: 950px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  background-color: #d9eef1;
 
}

nav a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #047F8C;
  text-decoration: none;
  text-transform: uppercase;
}

header {
  width: 80%;
  max-width: 950px;
  margin: 0 auto;
  padding: 15px 0;
  background-color: #d9eef1;
}

header h1 {
  margin: 0;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 37px;
  font-weight: 600;
}

header h1 a {
  color: #3A400C;
  text-decoration: none;
  text-transform: uppercase;
}

aside img {
  width: 30%;
  height: 125px;
  object-fit: cover;
  display: inline-block;
  vertical-align: top;
  margin-right: 1%;
}

aside {
  padding: 10px 20px 15px 20px;
}

aside h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #047F8C;
}

aside p {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 1.3;
}

aside ul {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  margin-top: 5px;
}

article {
  padding: 0 20px;
}

article h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 20px;
  
}

article p {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 1.25;
}

article img {
  width: 100%;
  margin: 15px 0;
}

footer {
  width: 80%;
  max-width: 950px;
  margin: 0 auto;
  background-color: #04ADBF;
  padding: 10px 20px;
  font-family: "Lato", sans-serif;
}

.social-links {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  background-color: #04ADBF;
  padding: 8px 0;
}

.social-links a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #222;
  margin: 0 25px;
}

footer p {
  text-align: center;
  font-size: 15px;
  margin-bottom: 0;
}

footer p a {
  color: #222;
}

